@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Chittagong University Management System</h1>
    <p class="lead">The Grand Port City of Chittagong, once called the Porte Grande by the Portuguese sailor-merchants, in Bangladesh did not have a public university for long to meet the higher educational needs of the students of Chittagong division. There was a growing demand for a public university among the people of this region in which various modern academic disciplines would be set up in order to develop skilled and knowledgeable human resources.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>FACULTY
of the University of Chittagong</h2>
        <p>There are 687 faculty members working in various departments, institutes and research centres. Most of them are highly qualified and trained with long teaching and research experiences. Among the faculty members 209 possess Ph.D., 22 have M.Phil., 61 have foreign Masters degree, while others possess local Degree Honours & Masters with outstanding performance.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vice Chancellor  Message</h2>
        <p>We welcome you in the name of our golden university. We are pleased to introduce Chittagong University of the Bangladesh Convention, Chittagong, to you and hope that what you learn as you browse through our web site will give you insights into the many advantages the University has to offer.

Chittagong University is a significant landmark in the academic heritage of its proprietor, the Bangladesh Convention.  Students who attend Chittagong University find it to be a place where they can grow academically, morally and spiritually, in a novel environment. Chittagong University is a community where educators, staff and students live and work in an atmosphere of mutual commitment in the richness of the Bangladeshi tradition. Our campus is characterized by academic and administrative staff that care about individuals and devote time to getting to know students.

Chittagong’s uniqueness is the strong emphasis it places on Godliness as well as academic excellence</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Communication</h2>
        <p>Chittagong can be reached from the capital city of Dhaka by air, train and road. The most pleasant time for traveling to Chittagong is between August and early March as it can be very humid and wet from April to July due to torrid summer days and heavy monsoon rains. The city has some good hotels available at modest rates, about US$ 10-70 per day. The University guest house has a limited number of rooms where guests can reside by advance booking. It takes 40-50 minutes to reach the campus from Chittagong city by car or bus. During on-session a 10-compartment university train shuttles between the city and the campus several times every day. Recently, Mini-bus services between the city and campus have been introduced.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>